@import url(https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600;700&family=Work+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", "Arial", "Segoe UI", "Tahoma", sans-serif;
  background-color: #282c35;
}

.container {
  max-width: 1140px;
  height: 100%;
  padding: 0 30px;
  margin: auto;
}

.btn {
  display: inline-block;
  padding: 20px 30px;
  text-decoration: none;
  color: #00FFFF;
  font-family: "Fira Code", "Lucida Console", "Courier", monospace;
  border: 1px solid #00FFFF;
  border-radius: 10px;
}
.btn:hover {
  background-color: rgba(0, 255, 255, 0.05);
}

#nav-lg .active,
#nav-sm .active {
  color: #00FFFF;
  transition: all 0.3s ease-in-out;
}

#nav-sm .show {
  transform: translateX(-250px);
}

#about {
  width: 100%;
  padding: 150px 0 100px 0;
}
#about > p {
  margin-bottom: 20px;
  color: #00FFFF;
  font-family: "Fira Code", "Lucida Console", "Courier", monospace;
}
#about h1 {
  margin-bottom: 30px;
  font-size: 80px;
  color: #ccd6f6;
  line-height: 1;
}
#about h1 span {
  color: #8892b0;
  font-size: 60px;
}

#skills {
  width: 100%;
  padding: 100px 0 100px 0;
}

#work {
  background-color: green;
}

#contact {
  background-color: coral;
}

@media screen and (max-width: 997px) {
  #about {
    padding: 150px 0 50px 0;
  }
  #about > p {
    margin-bottom: 20px;
    color: #00FFFF;
    font-family: "Fira Code", "Lucida Console", "Courier", monospace;
  }
  #about h1 {
    margin-bottom: 30px;
    font-size: 70px;
    color: #ccd6f6;
    line-height: 1;
  }
  #about h1 span {
    color: #8892b0;
    font-size: 50px;
  }
}
#nav-lg {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 0 60px;
  font-family: "Fira Code", "Lucida Console", "Courier", monospace;
  font-size: 12px;
  background-color: #21242b;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  z-index: 9;
}
#nav-lg #SSlogo {
  width: 40px;
  fill: #ccd6f6;
  cursor: pointer;
}
#nav-lg #SSlogo:hover {
  fill: #00FFFF;
}
#nav-lg ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
#nav-lg ul li {
  margin-left: 30px;
}
#nav-lg ul li span {
  margin-right: 5px;
  color: #00FFFF;
}
#nav-lg ul li a {
  text-decoration: none;
  color: #ccd6f6;
  font-size: 14px;
}
#nav-lg ul li a:hover {
  color: #00FFFF;
}

#nav-sm {
  display: none;
}

@media screen and (max-width: 767px) {
  #nav-lg {
    display: none;
  }

  #nav-sm {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0 30px;
    font-family: "Fira Code", "Lucida Console", "Courier", monospace;
    font-size: 12px;
    background-color: #21242b;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    z-index: 9;
  }
  #nav-sm #SSlogo {
    width: 40px;
    fill: #ccd6f6;
    cursor: pointer;
  }
  #nav-sm #SSlogo:hover {
    fill: #00FFFF;
  }
  #nav-sm #hamburger-menu {
    width: 30px;
    fill: #ccd6f6;
    cursor: pointer;
  }
  #nav-sm #hamburger-menu:hover {
    fill: #00FFFF;
  }
  #nav-sm ul {
    position: absolute;
    top: 80px;
    right: -250px;
    width: 250px;
    height: calc(100vh - 80px);
    padding: 50px 0;
    text-align: center;
    background-color: #21242b;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
    list-style: none;
  }
  #nav-sm ul li {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
  #nav-sm ul li span {
    margin-right: 5px;
    color: #00FFFF;
    font-size: 14px;
  }
  #nav-sm ul li a {
    text-decoration: none;
    color: #ccd6f6;
    font-size: 16px;
  }
  #nav-sm ul li a:hover {
    color: #00FFFF;
  }
}
