@import url(https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600;700&family=Work+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Work Sans", "Arial", "Segoe UI", "Tahoma", sans-serif;
  background-color: #282c35;
  font-size: 18px;
}

::-moz-selection {
  color: #ccd6f6;
  background-color: #8892b0;
}

::selection {
  color: #ccd6f6;
  background-color: #8892b0;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #21242b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #8892b0;
  border: 3px solid transparent;
  background-clip: content-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container {
  max-width: 1040px;
  height: 100%;
  padding: 0 80px;
  margin: auto;
}

.btn {
  display: inline-block;
  padding: 20px 30px;
  text-decoration: none;
  color: #00FFFF !important;
  background-color: transparent;
  font-family: "Fira Code", "Lucida Console", "Courier", monospace;
  border: 1px solid #00FFFF;
  border-radius: 10px;
  cursor: pointer;
}
.btn:hover {
  background-color: rgba(0, 255, 255, 0.05);
}

.btn-sm {
  padding: 10px 20px;
}

.heading {
  display: flex;
  align-items: baseline;
  margin-bottom: 30px;
  font-size: 32px;
  color: #ccd6f6;
}
.heading::before {
  content: "";
  font-size: 20px;
  font-family: "Fira Code", "Lucida Console", "Courier", monospace;
  font-weight: 400;
  color: #00FFFF;
  margin-right: 10px;
}
.heading::after {
  content: "";
  display: block;
  position: relative;
  top: -7px;
  width: 200px;
  height: 1px;
  margin-left: 20px;
  background-color: #8892b0;
}

#nav-lg .active,
#nav-sm .active {
  color: #00FFFF;
  transition: all 0.3s ease-in-out;
}

#nav-sm .show {
  transform: translateX(-250px);
}

.form-group {
  width: 100%;
  margin-bottom: 20px;
}
.form-group label {
  display: block;
  width: 100%;
  margin: 10px 0;
  color: #00FFFF;
  font-family: "Fira Code", "Lucida Console", "Courier", monospace;
}
.form-group input,
.form-group textarea {
  display: block;
  width: 100%;
  padding: 10px 0;
  margin: 10px 0;
  color: #ccd6f6;
  background-color: transparent;
  font-family: "Work Sans", "Arial", "Segoe UI", "Tahoma", sans-serif;
  border: 0;
  border-bottom: 1px solid rgba(136, 146, 176, 0.5);
}
.form-group ::-moz-placeholder {
  color: rgba(136, 146, 176, 0.5);
}
.form-group :-ms-input-placeholder {
  color: rgba(136, 146, 176, 0.5);
}
.form-group ::placeholder {
  color: rgba(136, 146, 176, 0.5);
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 940px;
    height: 100%;
    padding: 0 30px;
    margin: auto;
  }
}
@media screen and (max-width: 500px) {
  .heading::after {
    width: 100px;
  }
}
@media screen and (max-width: 400px) {
  .heading::after {
    width: 50px;
  }
}
#err404 {
  width: 100%;
  height: calc(100vh - 160px);
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#err404 h1 {
  font-size: 200px;
  font-family: "Fira Code", "Lucida Console", "Courier", monospace;
  color: #00FFFF;
}
#err404 h2 {
  font-size: 50px;
  font-weight: 400;
  color: #ccd6f6;
  margin-top: -15px;
  margin-bottom: 45px;
}

@media screen and (max-width: 500px) {
  #err404 h1 {
    font-size: 100px;
  }
  #err404 h2 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 500px) {
  #err404 h1 {
    font-size: 80px;
  }
  #err404 h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
}
#nav-lg {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 0 60px;
  font-family: "Fira Code", "Lucida Console", "Courier", monospace;
  font-size: 12px;
  background-color: #21242b;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  z-index: 9;
}
#nav-lg > a {
  display: flex;
}
#nav-lg > a #SSlogo {
  width: 40px;
  fill: #ccd6f6;
  cursor: pointer;
}
#nav-lg > a #SSlogo:hover {
  fill: #00FFFF;
}
#nav-lg ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
#nav-lg ul li {
  margin-left: 30px;
}
#nav-lg ul li span {
  margin-right: 5px;
  color: #00FFFF;
}
#nav-lg ul li a {
  text-decoration: none;
  color: #ccd6f6;
  font-size: 14px;
}
#nav-lg ul li a:hover {
  color: #00FFFF;
}

#nav-sm {
  display: none;
}

@media screen and (max-width: 767px) {
  #nav-lg {
    display: none;
  }

  #nav-sm {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0 30px;
    font-family: "Fira Code", "Lucida Console", "Courier", monospace;
    font-size: 12px;
    background-color: #21242b;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    z-index: 9;
  }
  #nav-sm > a {
    display: flex;
  }
  #nav-sm > a #SSlogo {
    width: 40px;
    fill: #ccd6f6;
    cursor: pointer;
  }
  #nav-sm > a #SSlogo:hover {
    fill: #00FFFF;
  }
  #nav-sm #hamburger-menu {
    width: 30px;
    fill: #ccd6f6;
    cursor: pointer;
  }
  #nav-sm #hamburger-menu:hover {
    fill: #00FFFF;
  }
  #nav-sm ul {
    position: absolute;
    top: 80px;
    right: -250px;
    width: 250px;
    height: calc(100vh - 80px);
    padding: 50px 0;
    text-align: center;
    background-color: #21242b;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
    list-style: none;
  }
  #nav-sm ul li {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
  #nav-sm ul li span {
    margin-right: 5px;
    color: #00FFFF;
    font-size: 14px;
  }
  #nav-sm ul li a {
    text-decoration: none;
    color: #ccd6f6;
    font-size: 16px;
  }
  #nav-sm ul li a:hover {
    color: #00FFFF;
  }
  #nav-sm ul li .btn {
    align-self: center;
    width: 130px;
  }
}
#hero {
  width: 100%;
  padding: 250px 0 150px 0;
}
#hero small {
  margin-bottom: 20px;
  color: #00FFFF;
  font-family: "Fira Code", "Lucida Console", "Courier", monospace;
}
#hero h1 {
  margin: 30px 0;
  font-size: 80px;
  color: #ccd6f6;
  line-height: 1;
}
#hero h1 strong {
  color: #8892b0;
  font-size: 60px;
}
#hero p {
  margin-bottom: 30px;
  color: #8892b0;
  line-height: 1.3;
}

@media screen and (max-width: 1000px) {
  #hero {
    padding: 250px 0 150px 0;
  }
  #hero h1 {
    margin: 30px 0;
    font-size: 60px;
    color: #ccd6f6;
    line-height: 1;
  }
  #hero h1 strong {
    color: #8892b0;
    font-size: 50px;
  }
  #hero p {
    margin-bottom: 30px;
    color: #8892b0;
    line-height: 1.3;
  }
}
@media screen and (max-width: 900px) {
  #hero {
    padding: 250px 0 150px 0;
  }
  #hero small {
    margin-bottom: 10px;
    color: #00FFFF;
    font-family: "Fira Code", "Lucida Console", "Courier", monospace;
  }
  #hero h1 {
    margin: 20px 0;
    font-size: 50px;
    color: #ccd6f6;
    line-height: 1;
  }
  #hero h1 strong {
    color: #8892b0;
    font-size: 40px;
  }
  #hero p {
    margin-bottom: 30px;
    color: #8892b0;
    line-height: 1.3;
  }
}
@media screen and (max-width: 500px) {
  #hero {
    padding: 150px 0 150px 0;
  }
  #hero small {
    margin-bottom: 20px;
    color: #00FFFF;
    font-family: "Fira Code", "Lucida Console", "Courier", monospace;
  }
  #hero h1 {
    margin: 20px 0;
    font-size: 40px;
    color: #ccd6f6;
    line-height: 1;
  }
  #hero h1 strong {
    color: #8892b0;
    font-size: 30px;
  }
  #hero p {
    margin-bottom: 30px;
    color: #8892b0;
    line-height: 1.3;
  }
}
@media screen and (max-width: 350px) {
  #hero {
    padding: 100px 0 150px 0;
  }
  #hero small {
    margin-bottom: 20px;
    color: #00FFFF;
    font-family: "Fira Code", "Lucida Console", "Courier", monospace;
  }
  #hero h1 {
    margin: 20px 0;
    font-size: 40px;
    color: #ccd6f6;
    line-height: 1;
  }
  #hero h1 strong {
    color: #8892b0;
    font-size: 30px;
  }
  #hero p {
    margin-bottom: 30px;
    color: #8892b0;
    line-height: 1.3;
  }
}
#about {
  padding: 150px 0;
}
#about .heading::before {
  content: "01.";
}
#about .about-container {
  display: flex;
  margin-left: -30px;
  margin-right: -30px;
}
#about .about-container .card {
  margin: 0 30px;
}
#about .about-container .card:first-child {
  width: 75%;
}
#about .about-container .card:last-child {
  width: 25%;
}
#about .about-container .card p {
  margin-bottom: 15px;
  color: #8892b0;
  line-height: 1.4;
}
#about .about-container .card p strong {
  color: #00FFFF;
}
#about .about-container .card img {
  display: block;
  width: 100%;
  filter: grayscale(100%);
  transition: all 0.3s ease-in-out;
}
#about .about-container .card img:hover {
  filter: none;
  transform: scale(1.05);
}
#about .about-container .filtered {
  overflow: hidden;
  border-radius: 10px;
}

@media screen and (max-width: 850px) {
  #about {
    padding: 150px 0 100px 0;
  }
  #about .about-container {
    display: flex;
    margin-left: -30px;
    margin-right: -30px;
  }
  #about .about-container .card {
    margin: 0 30px;
  }
  #about .about-container .card:first-child {
    width: 60%;
  }
  #about .about-container .card:last-child {
    width: 40%;
  }
}
@media screen and (max-width: 768px) {
  #about {
    padding: 150px 0 100px 0;
  }
  #about .about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -30px;
    margin-right: -30px;
  }
  #about .about-container .card {
    margin: 0 30px;
  }
  #about .about-container .card:first-child {
    width: 100%;
    margin-bottom: 30px;
  }
  #about .about-container .card:last-child {
    width: 50%;
  }
}
#skills {
  padding: 150px 0;
}
#skills .heading::before {
  content: "02.";
}
#skills .skills-container {
  display: flex;
  margin-left: -30px;
  margin-right: -30px;
}
#skills .skills-container .cards-container {
  margin: 0 30px;
  text-align: center;
  font-family: "Fira Code", "Lucida Console", "Courier", monospace;
  font-size: 14px;
  color: #00FFFF;
}
#skills .skills-container .cards-container:first-child {
  width: 60%;
}
#skills .skills-container .cards-container:first-child .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 10px;
  align-items: center;
  border: 1px solid #8892b0;
  border-radius: 10px;
}
#skills .skills-container .cards-container:first-child .cards svg {
  width: calc(100% / 4);
  height: 90px;
  padding: 20px;
  fill: #8892b0;
  transition: all 0.3s ease-in-out;
}
#skills .skills-container .cards-container:first-child .cards svg:hover {
  fill: #00FFFF;
  transform: scale(1.1);
}
#skills .skills-container .cards-container:last-child {
  width: 40%;
}
#skills .skills-container .cards-container:last-child .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 10px;
  align-items: center;
  border: 1px solid #8892b0;
  border-radius: 10px;
}
#skills .skills-container .cards-container:last-child .cards svg {
  width: calc(100% / 3);
  height: 90px;
  padding: 20px;
  fill: #8892b0;
  transition: all 0.3s ease-in-out;
}
#skills .skills-container .cards-container:last-child .cards svg:hover {
  fill: #00FFFF;
  transform: scale(1.1);
}
#skills .skills-container .cards-container h4 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  #skills {
    padding: 100px 0;
  }
  #skills .skills-container {
    display: flex;
    flex-wrap: wrap;
  }
  #skills .skills-container .cards-container:first-child {
    width: 100%;
  }
  #skills .skills-container .cards-container:first-child .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 10px;
    align-items: center;
    border: 1px solid #8892b0;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  #skills .skills-container .cards-container:first-child .cards svg {
    width: calc(100% / 4);
    height: 90px;
    padding: 20px;
    fill: #8892b0;
    transition: all 0.3s ease-in-out;
  }
  #skills .skills-container .cards-container:first-child .cards svg:hover {
    fill: #00FFFF;
    transform: scale(1.1);
  }
  #skills .skills-container .cards-container:last-child {
    width: 100%;
  }
  #skills .skills-container .cards-container:last-child .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 10px;
    align-items: center;
    border: 1px solid #8892b0;
    border-radius: 10px;
  }
  #skills .skills-container .cards-container:last-child .cards svg {
    width: calc(100% / 3);
    height: 90px;
    padding: 20px;
    fill: #8892b0;
    transition: all 0.3s ease-in-out;
  }
  #skills .skills-container .cards-container:last-child .cards svg:hover {
    fill: #00FFFF;
    transform: scale(1.1);
  }
}
@media screen and (max-width: 500px) {
  #skills {
    padding: 100px 0;
  }
  #skills .skills-container .cards-container:first-child {
    width: 100%;
  }
  #skills .skills-container .cards-container:first-child .cards svg {
    width: calc(100% / 4);
    height: 90px;
    padding: 20px;
    fill: #8892b0;
    transition: all 0.3s ease-in-out;
    padding: 15px;
  }
  #skills .skills-container .cards-container:first-child .cards svg:hover {
    fill: #00FFFF;
    transform: scale(1.1);
  }
  #skills .skills-container .cards-container:last-child {
    width: 100%;
  }
  #skills .skills-container .cards-container:last-child .cards svg {
    width: calc(100% / 3);
    height: 90px;
    padding: 20px;
    fill: #8892b0;
    transition: all 0.3s ease-in-out;
    padding: 20px;
  }
  #skills .skills-container .cards-container:last-child .cards svg:hover {
    fill: #00FFFF;
    transform: scale(1.1);
  }
}
#work {
  padding: 150px 0;
}
#work .heading::before {
  content: "03.";
}
#work .projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#work .projects-container .project {
  width: calc(100% / 2 - 15px);
}
#work .projects-container .project img {
  display: block;
  width: 100%;
  border-radius: 10px;
}
#work .projects-container .project .description {
  position: relative;
  top: -50px;
  width: 90%;
  margin: auto;
  padding: 15px 15px 60px 15px;
  background-color: #21242b;
  border-radius: 10px;
}
#work .projects-container .project .description h5 {
  font-size: 14px;
  font-weight: 400;
  font-family: "Fira Code", "Lucida Console", "Courier", monospace;
  color: #00FFFF;
}
#work .projects-container .project .description h3 {
  margin: 10px 0;
  font-size: 28px;
  color: #ccd6f6;
}
#work .projects-container .project .description .tools {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Fira Code", "Lucida Console", "Courier", monospace;
  color: #8892b0;
}
#work .projects-container .project .description .link-icons {
  position: absolute;
  right: 15px;
  bottom: 15px;
}
#work .projects-container .project .description .link-icons svg {
  width: 20px;
  margin-left: 10px;
  fill: #8892b0;
  transition: all 0.2s ease-in-out;
}
#work .projects-container .project .description .link-icons svg:hover {
  fill: #00FFFF;
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  #work {
    padding: 100px 0;
  }
  #work .projects-container .project {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  #work {
    padding: 100px 0;
  }
  #work .projects-container .project {
    width: 100%;
  }
  #work .projects-container .project .description {
    padding: 15px 15px 45px 15px;
  }
  #work .projects-container .project .description h5 {
    font-size: 12px;
  }
  #work .projects-container .project .description h3 {
    font-size: 20px;
  }
  #work .projects-container .project .description .tools {
    margin-top: 10px;
    font-size: 12px;
  }
  #work .projects-container .project .description .link-icons {
    position: absolute;
    right: 15px;
    bottom: 15px;
  }
  #work .projects-container .project .description .link-icons svg {
    width: 20px;
    margin-left: 10px;
    fill: #8892b0;
    transition: all 0.2s ease-in-out;
  }
  #work .projects-container .project .description .link-icons svg:hover {
    fill: #00FFFF;
    transform: scale(1.1);
  }
}
#contact {
  padding: 150px 0;
}
#contact .heading::before {
  content: "04.";
}
#contact p {
  color: #8892b0;
  font-size: 18px;
  margin-bottom: 30px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  text-align: center;
  font-size: 12px;
  font-family: "Fira Code", "Lucida Console", "Courier", monospace;
}
footer a {
  text-decoration: none;
  color: #8892b0;
  transition: all 0.2s ease-in-out;
}
footer a:hover {
  color: #00FFFF;
  transform: scale(1.01);
}

#side-elements {
  font-size: 12px;
  font-family: "Fira Code", "Lucida Console", "Courier", monospace;
}
#side-elements .left {
  position: fixed;
  bottom: 0;
  left: 50px;
  z-index: 2;
}
#side-elements .left ul {
  list-style: none;
}
#side-elements .left ul li {
  margin-top: 15px;
}
#side-elements .left ul li a {
  text-decoration: none;
  color: #8892b0;
}
#side-elements .left ul li a svg {
  fill: #8892b0;
  transition: all 0.2s ease-in-out;
}
#side-elements .left ul li a svg:hover {
  fill: #00FFFF;
  transform: scale(1.1);
}
#side-elements .left::after {
  content: "";
  display: block;
  position: relative;
  top: 20px;
  right: 11px;
  width: 1px;
  height: 100px;
  margin-left: 20px;
  background-color: #8892b0;
}
#side-elements .right {
  position: fixed;
  bottom: 0;
  right: 50px;
  z-index: 2;
}
#side-elements .right a {
  text-decoration: none;
  color: #8892b0;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
}
#side-elements .right a:hover {
  color: #00FFFF;
  transform: scale(1.02);
}
#side-elements .right::after {
  content: "";
  display: block;
  position: relative;
  top: 20px;
  right: 13px;
  width: 1px;
  height: 100px;
  margin-left: 20px;
  background-color: #8892b0;
}

@media screen and (max-width: 1080px) {
  #side-elements {
    font-size: 12px;
    font-family: "Fira Code", "Lucida Console", "Courier", monospace;
  }
  #side-elements .left {
    position: fixed;
    bottom: 0;
    left: 20px;
    z-index: 2;
  }
  #side-elements .right {
    position: fixed;
    bottom: 0;
    right: 20px;
    z-index: 2;
  }
}
@media screen and (max-width: 768px) {
  #side-elements {
    display: none;
  }
}
