@import url(https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600;700&family=Work+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", "Arial", "Segoe UI", "Tahoma", sans-serif;
  background-color: #282c35;
  font-size: 18px;
}

.container {
  max-width: 940px;
  height: 100%;
  padding: 0 30px;
  margin: auto;
}

.btn {
  display: inline-block;
  padding: 20px 30px;
  text-decoration: none;
  color: #00FFFF;
  font-family: "Fira Code", "Lucida Console", "Courier", monospace;
  border: 1px solid #00FFFF;
  border-radius: 10px;
}
.btn:hover {
  background-color: rgba(0, 255, 255, 0.05);
}

.heading {
  display: flex;
  align-items: baseline;
  margin-bottom: 30px;
  font-size: 28px;
  color: #ccd6f6;
}
.heading::before {
  content: "";
  font-size: 20px;
  font-family: "Fira Code", "Lucida Console", "Courier", monospace;
  color: #00FFFF;
  margin-right: 10px;
}
.heading::after {
  content: "";
  display: block;
  position: relative;
  top: -7px;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: #8892b0;
}

#nav-lg .active,
#nav-sm .active {
  color: #00FFFF;
  transition: all 0.3s ease-in-out;
}

#nav-sm .show {
  transform: translateX(-250px);
}

#skills {
  width: 100%;
  padding: 150px 0;
  height: 500px;
  margin-bottom: 50px;
}

#work {
  padding: 150px 0;
  height: 500px;
  margin-bottom: 50px;
}

#contact {
  padding: 150px 0;
  height: 500px;
  margin-bottom: 50px;
}

#hero {
  width: 100%;
  padding: 250px 0 150px 0;
}
#hero small {
  margin-bottom: 20px;
  color: #00FFFF;
  font-family: "Fira Code", "Lucida Console", "Courier", monospace;
}
#hero h1 {
  margin: 30px 0;
  font-size: 80px;
  color: #ccd6f6;
  line-height: 1;
}
#hero h1 strong {
  color: #8892b0;
  font-size: 60px;
}
#hero p {
  margin-bottom: 30px;
  color: #8892b0;
  line-height: 1.3;
}

@media screen and (max-width: 997px) {
  #hero {
    width: 100%;
    padding: 250px 0 150px 0;
  }
  #hero small {
    margin-bottom: 20px;
    color: #00FFFF;
    font-family: "Fira Code", "Lucida Console", "Courier", monospace;
  }
  #hero h1 {
    margin: 30px 0;
    font-size: 60px;
    color: #ccd6f6;
    line-height: 1;
  }
  #hero h1 strong {
    color: #8892b0;
    font-size: 50px;
  }
  #hero p {
    margin-bottom: 30px;
    color: #8892b0;
    line-height: 1.3;
  }
}
#about {
  padding: 150px 0;
}
#about .heading::before {
  content: "01.";
}
#about .about-container {
  display: flex;
  margin-left: -30px;
  margin-right: -30px;
}
#about .about-container .card {
  margin: 0 30px;
}
#about .about-container .card:first-child {
  width: 75%;
}
#about .about-container .card:last-child {
  width: 25%;
}
#about .about-container .card p {
  margin-bottom: 15px;
  color: #8892b0;
  line-height: 1.4;
}
#about .about-container .card p strong {
  color: #00FFFF;
}
#about .about-container .card img {
  display: block;
  width: 100%;
  filter: grayscale(100%);
}
#about .about-container .card img:hover {
  filter: none;
}
#about .about-container .card .filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 255, 255, 0.2);
}
#about .about-container .filtered {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
#about .about-container .filtered:hover .filter {
  display: none;
}

#nav-lg {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 0 60px;
  font-family: "Fira Code", "Lucida Console", "Courier", monospace;
  font-size: 12px;
  background-color: #21242b;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  z-index: 9;
}
#nav-lg #SSlogo {
  width: 40px;
  fill: #ccd6f6;
  cursor: pointer;
}
#nav-lg #SSlogo:hover {
  fill: #00FFFF;
}
#nav-lg ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
#nav-lg ul li {
  margin-left: 30px;
}
#nav-lg ul li span {
  margin-right: 5px;
  color: #00FFFF;
}
#nav-lg ul li a {
  text-decoration: none;
  color: #ccd6f6;
  font-size: 14px;
}
#nav-lg ul li a:hover {
  color: #00FFFF;
}

#nav-sm {
  display: none;
}

@media screen and (max-width: 767px) {
  #nav-lg {
    display: none;
  }

  #nav-sm {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0 30px;
    font-family: "Fira Code", "Lucida Console", "Courier", monospace;
    font-size: 12px;
    background-color: #21242b;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    z-index: 9;
  }
  #nav-sm #SSlogo {
    width: 40px;
    fill: #ccd6f6;
    cursor: pointer;
  }
  #nav-sm #SSlogo:hover {
    fill: #00FFFF;
  }
  #nav-sm #hamburger-menu {
    width: 30px;
    fill: #ccd6f6;
    cursor: pointer;
  }
  #nav-sm #hamburger-menu:hover {
    fill: #00FFFF;
  }
  #nav-sm ul {
    position: absolute;
    top: 80px;
    right: -250px;
    width: 250px;
    height: calc(100vh - 80px);
    padding: 50px 0;
    text-align: center;
    background-color: #21242b;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
    list-style: none;
  }
  #nav-sm ul li {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
  #nav-sm ul li span {
    margin-right: 5px;
    color: #00FFFF;
    font-size: 14px;
  }
  #nav-sm ul li a {
    text-decoration: none;
    color: #ccd6f6;
    font-size: 16px;
  }
  #nav-sm ul li a:hover {
    color: #00FFFF;
  }
}
footer {
  text-align: center;
  padding: 100px 0 20px 0;
  font-size: 12px;
  font-family: "Fira Code", "Lucida Console", "Courier", monospace;
}
footer a {
  text-decoration: none;
  color: #8892b0;
}
footer a:hover {
  color: #00FFFF;
}
