#about {
    padding: 150px 0 100px 0;
    .heading::before {
        content: "01.";
    }
    .about-container {
        display: flex;
        margin-left: -30px;
        margin-right: -30px;
        .card {
            margin: 0 30px;
            &:first-child {
                width: 75%;
            }
            &:last-child {
                width: 25%;
            }
            p {
                margin-bottom: 15px;
                color: $mainText;
                line-height: 1.4;
                strong {
                    color: $secondaryColor;
                }
            }
            img {
                display: block;
                width: 100%;
                filter: grayscale(100%);
                transition: all .3s ease-in-out;
                &:hover {
                    filter: none;
                    transform: scale(1.05);
                }    
            }
        }
        .filtered {
            overflow: hidden;
            border-radius: 10px;
        }
    }
}

@media screen and (max-width: 850px) {
    #about {
        padding: 150px 0 100px 0;
        .about-container {
            display: flex;
            margin-left: -30px;
            margin-right: -30px;
            .card {
                margin: 0 30px;
                &:first-child {
                    width: 60%;
                }
                &:last-child {
                    width: 40%;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #about {
        padding: 150px 0 100px 0;
        .about-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-left: -30px;
            margin-right: -30px;
            .card {
                margin: 0 30px;
                &:first-child {
                    width: 100%;
                    margin-bottom: 30px;
                }
                &:last-child {
                    width: 50%;
                }
            }
        }
    }
}