* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $primaryFont;
}

// nav active class
#nav-lg .active,
#nav-sm .active {
    color: $secondaryColor;
    transition: all .3s ease-in-out;
}

#nav-sm .show {
    transform: translateX(-150px);
}