* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $primaryFont;
    background-color: $mainColor;
    font-size: 18px;
}

.container {
    max-width: 1040px;
    height: 100%;
    padding: 0 80px;
    margin: auto;
}

.btn {
    display: inline-block;
    padding: 20px 30px;
    text-decoration: none;
    color: $secondaryColor;
    font-family: $secondaryFont;
    border: 1px solid $secondaryColor;
    border-radius: 10px;
    &:hover {
        background-color: rgba($secondaryColor, 0.05);
    }
}

.heading {
    display: flex;
    align-items: baseline;
    margin-bottom: 30px;
    font-size: 32px;
    color: $mainTextLight;
    &::before {
        content:"";
        font-size: 20px;
        font-family: $secondaryFont;
        font-weight: 400;
        color: $secondaryColor;
        margin-right: 10px;
    }
    &::after {
        content: "";
        display: block;
        position: relative;
        top: -7px;
        width: 200px;
        height: 1px;
        margin-left: 20px;
        background-color: $mainText;
    }
}


// nav active class
#nav-lg .active,
#nav-sm .active {
    color: $secondaryColor;
    transition: all .3s ease-in-out;
}

#nav-sm .show {
    transform: translateX(-250px);
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 940px;
        height: 100%;
        padding: 0 30px;
        margin: auto;
    }
}

@media screen and (max-width: 500px) {
    .heading {
        &::after {
            width: 100px;
        }
    }
}

@media screen and (max-width: 400px) {
    .heading {
        &::after {
            width: 50px;
        }
    }
}