#contact {
    padding: 150px 0;
    .heading::before {
        content: "04.";
    }
    p {
        color: $mainText;
        font-size: 18px;
        margin-bottom: 30px;
    }
    form {
        textarea{
            resize: none;
        }
    }
}