footer {
    text-align: center;
    padding: 100px 0 20px 0;
    font-size: 12px;
    font-family: $secondaryFont;
    a {
        display: inline-block;
        text-decoration: none;
        color: $mainText;
        transition: all .2s ease-in-out;
        &:hover {
            color:$secondaryColor;
            transform: scale(1.01);
        }
    }
}