footer {
    text-align: center;
    padding: 100px 0 20px 0;
    font-size: 12px;
    font-family: $secondaryFont;
    a {
        text-decoration: none;
        color: $mainText;
        &:hover {
            color:$secondaryColor;
        }
    }
}