footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    text-align: center;
    font-size: 12px;
    font-family: $secondaryFont;
    a {
        text-decoration: none;
        color: $mainText;
        transition: all .2s ease-in-out;
        &:hover {
            color:$secondaryColor;
            transform: scale(1.01);
        }
    }
}