// nav desktop
#nav-lg {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0 60px;
    font-family: $secondaryFont;
    font-size: 12px;
    background-color: $mainColorDark;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    z-index: 9;
    >a {
        display: flex;
        #SSlogo {
            width: 40px;
            fill: $mainTextLight;
            cursor: pointer;
            &:hover {
                fill: $secondaryColor;
            }
        }
    }
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        li {
            margin-left: 30px;
            span {
                margin-right: 5px;
                color: $secondaryColor;
            }
            a {
                text-decoration: none;
                color: $mainTextLight;
                font-size: 14px;
                &:hover {
                    color: $secondaryColor;
                }
            }
        }
    }
}
// /nav desktop

#nav-sm {
    display: none;
}

@media screen and (max-width: 767px) {
    #nav-lg {
        display: none;
    }

    // nav mobile
    #nav-sm {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 80px;
        padding: 0 30px;
        font-family: $secondaryFont;
        font-size: 12px;
        background-color: $mainColorDark;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
        z-index: 9;
        >a {
            display: flex;
            #SSlogo {
                width: 40px;
                fill: $mainTextLight;
                cursor: pointer;
                &:hover {
                    fill: $secondaryColor;
                }
            }
        }
        #hamburger-menu {
            width: 30px;
            fill: $mainTextLight;
            cursor: pointer;
            &:hover {
                fill: $secondaryColor;
            }
        }
        ul {
            position: absolute;
            top: 80px;
            right: -250px;
            width: 250px;
            height: calc(100vh - 80px);
            padding: 50px 0;
            text-align: center;
            background-color: $mainColorDark;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
            transition: all .3s ease-in-out;
            list-style: none;
            li {
                display: flex;
                flex-direction: column;
                margin-bottom: 50px;
                span {
                    margin-right: 5px;
                    color: $secondaryColor;
                    font-size: 14px;
                }
                a {
                    text-decoration: none;
                    color: $mainTextLight;
                    font-size: 16px;
                    &:hover {
                        color: $secondaryColor;
                    }
                }
                .btn {
                    align-self: center;
                    width: 130px;
                }
            }
        }
    }
    // /nav mobile
}
