#hero {
    width: 100%;
    padding: 250px 0 150px 0;
    small {
        margin-bottom: 20px;
        color: $secondaryColor;
        font-family: $secondaryFont;
    }
    h1 {
        margin: 30px 0;
        font-size: 80px;
        color: $mainTextLight;
        line-height: 1;
        strong {
            color: $mainText;
            font-size: 60px;
        }
    }
    p {
        margin-bottom: 30px;
        color: $mainText;
        line-height: 1.3;
    }
}

@media screen and (max-width: 1000px) {
    #hero {
        padding: 250px 0 150px 0;
        h1 {
            margin: 30px 0;
            font-size: 60px;
            color: $mainTextLight;
            line-height: 1;
            strong {
                color: $mainText;
                font-size: 50px;
            }
        }
        p {
            margin-bottom: 30px;
            color: $mainText;
            line-height: 1.3;
        }
    }
}

@media screen and (max-width: 900px) {
    #hero {
        padding: 250px 0 150px 0;
        small {
            margin-bottom: 10px;
            color: $secondaryColor;
            font-family: $secondaryFont;
        }
        h1 {
            margin: 20px 0;
            font-size: 50px;
            color: $mainTextLight;
            line-height: 1;
            strong {
                color: $mainText;
                font-size: 40px;
            }
        }
        p {
            margin-bottom: 30px;
            color: $mainText;
            line-height: 1.3;
        }
    }
}

@media screen and (max-width: 500px) {
    #hero {
        padding: 150px 0 150px 0;
        small {
            margin-bottom: 20px;
            color: $secondaryColor;
            font-family: $secondaryFont;
        }
        h1 {
            margin: 20px 0;
            font-size: 40px;
            color: $mainTextLight;
            line-height: 1;
            strong {
                color: $mainText;
                font-size: 30px;
            }
        }
        p {
            margin-bottom: 30px;
            color: $mainText;
            line-height: 1.3;
        }
    }
}

@media screen and (max-width: 350px) {
    #hero {
        padding: 100px 0 150px 0;
        small {
            margin-bottom: 20px;
            color: $secondaryColor;
            font-family: $secondaryFont;
        }
        h1 {
            margin: 20px 0;
            font-size: 40px;
            color: $mainTextLight;
            line-height: 1;
            strong {
                color: $mainText;
                font-size: 30px;
            }
        }
        p {
            margin-bottom: 30px;
            color: $mainText;
            line-height: 1.3;
        }
    }
}