


.section {
    width: 100%;
    height: 100vh;
}

#about {
    padding-top: 150px;
    background-color: red;
}

#skills {
    background-color: blue;
}

#work {
    background-color: green;
}

#contact {
    background-color: coral;
}