$mainColor: #282c35;
$mainColorDark: #21242b;
// $mainColorNavy: #1A243B;
$mainColorNavy: #112240;

$mainText: #8892b0;
$mainTextLight: #ccd6f6;

$secondaryColor: #00FFFF;

$primaryFont : "Work Sans", "Arial", "Segoe UI", "Tahoma", sans-serif;
$secondaryFont : "Fira Code", "Lucida Console", "Courier", monospace;