$mainColor: #282c35;
$mainColorLight: #112240;
$mainColorDark: #21242b;

$mainText: #8892b0;
$mainTextLight: #ccd6f6;

$secondaryColor: #00FFFF;

$primaryFont : "Work Sans", "Arial", "Segoe UI", "Tahoma", sans-serif;
$secondaryFont : "Fira Code", "Lucida Console", "Courier", monospace;